<h3>markdown react</h3>
<div>
  <.markdown
    name={@name}
    data={"data string"}
    props={%{
      data: """
      # Hello World
      
      Best in the world!

      ```elixir
      defmodule Hello do
        def world do
          IO.puts "Hello World"
        end
      end
      ```
      
      """
    }}
  />
</div>
