<div class="card">
  <div class="card-body">
    <h3 class="card-title">This markdown is rendered with <code>react-dom/server</code></h3>
    <div class="prose">
      <.react_markdown
        data={@markdown_doc}
      />
    </div>
  </div>
</div>
